{% extends "kantin/layout.html" %}

{% block body %}
    <h2>Add Item</h2>
    <form action="{% url 'kantin:create' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form.name }}
        </div>
        <div class="form-group">
            {{ form.description }}
        </div>
        <div class="form-group">
            {{ form.price }}
        </div>
        <div class="form-group">
            {{ form.image }}
        </div>
        <input class="btn btn-primary" type="submit">
    </form>
{% endblock %}
